img{
  padding: 3px 3px 3px 3px;
  border-radius: 70%;
}
/*nav style*/
html{
  scroll-behavior:smooth;
}
nav{
  width: 100%;
  height: 80px;
  background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
}
.main_nav{
  width: 80%;
  height: 80px;
  margin:auto;
  display: flex;
}
.logo{
  width: 20%;
}
.logo h1{
  margin-top: 20px;
  color: #ffffff;
  

}
.menu{
  width: 50%;
  margin-bottom: auto;
}
.menu ul{
  list-style: none;
   width: 100%;
   height: 90px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}
.menu ul li{
  margin-top: 20px; 
  position: relative;  
}
.menu ul li a{
  color: white;
}
.menu ul .no_active::after{
  content: '';
  height: 3px;
  width: 0%;
  background:#009688;
  border-radius: 5px;
  position: absolute;
  left: 0;
  bottom: 25px;
  transition: 0.5s;
}
.menu ul .no_active:hover::after{
  width: 100%;
}
ul .active {
  margin-bottom: 25px;
  width: 9%;
  border-radius: 0px;
  border-bottom: 3px solid #009688 ;
}

.login{
  width: 10%;
  margin-left: auto;
}

.login button{
  float: right;
  border: 2px solid;
  border-radius: 8px;
  background:#009688;
  padding: 10px 25px;
  margin: 25px 0;
  cursor: pointer;
  font-size: 15px;
  color: #ffffff;    
}
.login button:hover{
  color:rgb(29, 29, 29);
  background-color:rgb(216, 216, 216)
}
.bg{
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}
.content{
  color: white;
  width: 100%;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  text-align: center;
}
.content h1{
  font-size: 50px;
  margin-top: 80px;
}
.content p{
  font-size: 20px;
  margin: 20px auto;
  line-height: 25px;
  font-weight: 100;
}
/*nav style end*/
/*****************FOOTER***********************/
.footer{
  width: 100%;
  height: 50vh;
  background-color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
.footer .f_text{
  width: 80%;
  margin: 0px auto;
  margin-top: 40px;
  color: rgb(216, 213, 213);
  position: relative;
  display: flex;
  bottom:-110%;
  transform: translateY(-220%);
}
.f_text .all_txt{
  width: 26%;
  height: auto;
  margin: 0px auto;
  text-align: center;
}
.all_txt li{
  list-style: none;
  margin-top: 10px;
  color: rgb(180, 179, 179);
}
.all_txt li a{
  color: rgb(180, 179, 179);
}
.media{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0px auto;
  position: relative;
  display: flex;
  bottom:10%;
  transform: translateY(200%);
}
.media a{
  color: black;
  font-size: 22px;
  background-color: white;
  padding: 8px 8px;
  border: none;
  border-radius: 25px;
  margin: 0px 10px;
}
.media .m_logo{
  padding: 8px 12px;
  border-radius: 25px;
}
.media a:hover{
  opacity:0.6;
  
}
.footer .f_last_txt{
  width: 100%;
  height: 50px;
  text-align: center;
  position: relative;
  bottom:10%;
  transform: translateY(200%)
}
.f_last_txt p{
  line-height: 50px;
  color: rgb(155, 153, 153);
  font-size: 12px;
}
/******footer end********/ 